.cabecalho-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .container-titulo {
    margin: 0;
    font-family: var(--fonte-detalhe);
    font-weight: 100;
    font-size: 20px;
  }

  .container-subtitulo {
    margin: 0;
    font-family: var(--fonte-primaria);
    font-size: 12px;
    font-weight: 200;
  }
}